{
    "source_db": {
        "drivername": "mysql+pymysql",
        "host": "localhost",
        "port": 3306,
        "database": "",
        "username": "",
        "password": ""
    },
    "cube_db": {
        "drivername": "sqlite",
        "database": "TJ_DB"
    },
    "multi valued dependencies": [],
    "dimensions": [],
    "measure": "",
    "app_context": false,
    "cube_db": {
        "drivername": "mysql+pymysql",
        "database": "test_pyro"
    }
}